@font-face {
  font-family: NetflixSans;
  src: url('/fonts/Netflix Sans Medium.otf') format('opentype');
}

@font-face {
  font-family: NetflixSansLight;
  src: url('/fonts/Netflix Sans Light.otf') format('opentype');
}

@font-face {
  font-family: NetflixSansBold;
  src: url('/fonts/Netflix Sans Bold.otf') format('opentype');
}

:root {
  --grid-item-width: 250px;
  --grid-item-height: 200px;
}

body {
  background-color: #111;
  margin: 0;
  color: #fff;
  font-family: 'Netflix Sans Light', sans-serif;
  overflow-x: hidden;
}

p {
  margin: 0 0 15px 0;
}

.grid-container {
  display: inline-block;
  width: 100vw;
}

.grid-group-vertical {
  display: inline-flex;
  flex-flow: column;
  float: left;
}

.grid-item {
  float: left;
  background-color: #ff000055;
  overflow: hidden;

  &.grid-item-1-1 {
    width: var(--grid-item-width);
    height: var(--grid-item-height);
  }

  &.grid-item-1-2 {
    width: var(--grid-item-width);
    height: calc(var(--grid-item-height) * 2);
  }

  &.grid-item-2-1 {
    width: calc(var(--grid-item-width) * 2);
    height: var(--grid-item-height);
  }

  &.grid-item-2-2 {
    width: calc(var(--grid-item-width) * 2);
    height: calc(var(--grid-item-height) * 2);
  }
}

.widget {
  height: 100%;

  > * {
    padding: 3px;
  }

  .widget-title {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Netflix Sans Bold', sans-serif;
    margin: 0 0 5px 0;
    background-color: #202325;
  }

  &.steam-widget {
    background-color: #333;

    .game {
      display: flex;

      img {
        width: 28px;
        height: max-content;
      }

      p {
        font-size: 14px;
        margin: 0 0 0 5px;
        width: 100%;
        display: inline-flex;
        justify-content: space-between;

        span {
          white-space: nowrap;
          font-weight: bold;
          font-family: 'Netflix Sans Bold', sans-serif;
        }
      }
    }
  }
}
