@font-face {
  font-family: NetflixSans;
  src: url("/fonts/Netflix Sans Medium.otf") format("opentype");
}

@font-face {
  font-family: NetflixSansLight;
  src: url("/fonts/Netflix Sans Light.otf") format("opentype");
}

@font-face {
  font-family: NetflixSansBold;
  src: url("/fonts/Netflix Sans Bold.otf") format("opentype");
}

:root {
  --grid-item-width: 274.2px;
  --grid-item-height: 200px;
}

body {
  background-color: #111;
  margin: 0;
  color: #fff;
  font-family: "Netflix Sans Light", sans-serif;
  overflow-x: hidden;
}

p {
  margin: 0 0 10px 0;
}

.grid-container {
  display: inline-block;
  width: 100vw;
}

.grid-group-vertical {
  display: inline-flex;
  flex-flow: column;
  float: left;
}

.grid-item {
  float: left;
  overflow: hidden;
}

.grid-item.grid-item-1-1 {
  width: var(--grid-item-width);
  height: var(--grid-item-height);
}

.grid-item.grid-item-1-2 {
  width: var(--grid-item-width);
  height: calc(var(--grid-item-height) * 2);
}

.grid-item.grid-item-2-1 {
  width: calc(var(--grid-item-width) * 2);
  height: var(--grid-item-height);
}

.grid-item.grid-item-2-2 {
  width: calc(var(--grid-item-width) * 2);
  height: calc(var(--grid-item-height) * 2);
}

.widget {
  position: relative;
  height: 100%;
}

.widget .widget-heading .widget-title {
  font-size: 17px;
  font-weight: bold;
  font-family: "Netflix Sans Bold", sans-serif;
  margin: 0;
  padding: 3px;
}

.widget.spotify-widget {
  background-color: #333;
}

.widget.spotify-widget .widget-heading .widget-title {
  background-color: #1ed760;
  color: #000;
}

.widget.spotify-widget#widget-spotify-player {
  background-size: cover;
  background-position: center;
}

.widget.spotify-widget#widget-spotify-player .widget-body {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.widget.spotify-widget#widget-spotify-player .widget-body .banner-and-names {
  display: flex;
}

.widget.spotify-widget#widget-spotify-player .widget-body .banner-and-names img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 64px;
}

.widget.spotify-widget#widget-spotify-player .widget-body .banner-and-names .names {
  margin-left: 5px;
  max-width: calc(100% - 69px);
}

.widget.spotify-widget#widget-spotify-player .widget-body .banner-and-names .names p {
  margin: 0 0 5px 0;
  font-weight: bold;
  font-family: "Netflix Sans Bold", sans-serif;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.widget.spotify-widget#widget-spotify-player .widget-body .progress-bar .durations {
  display: flex;
  justify-content: space-between;
}

.widget.spotify-widget#widget-spotify-player .widget-body .progress-bar progress {
  display: block;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.widget.spotify-widget#widget-spotify-player .widget-body .progress-bar progress::-webkit-progress-value {
  background-color: #1ed760;
}

.widget.steam-widget {
  background-color: #333;
}

.widget.steam-widget .widget-heading .widget-title {
  background-color: #202325;
}

.widget.steam-widget#widget-steam-profile-status p:not(.widget-title) {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.widget.steam-widget .game {
  display: flex;
  margin: 3px;
}

.widget.steam-widget .game img {
  width: 32px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.widget.steam-widget .game p {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 0 5px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.widget.steam-widget .game p span {
  white-space: nowrap;
  font-weight: bold;
  font-family: "Netflix Sans Bold", sans-serif;
}


/*# sourceMappingURL=style.css.map*/