@font-face {
  font-family: NetflixSans;
  src: url('/fonts/Netflix Sans Medium.otf') format('opentype');
}

@font-face {
  font-family: NetflixSansLight;
  src: url('/fonts/Netflix Sans Light.otf') format('opentype');
}

@font-face {
  font-family: NetflixSansBold;
  src: url('/fonts/Netflix Sans Bold.otf') format('opentype');
}

:root {
  --grid-item-width: 137.1px;
  --grid-item-height: 135px;
}

body {
  background-color: #111;
  margin: 0;
  color: #fff;
  font-family: 'Netflix Sans Light', sans-serif;
  overflow-x: hidden;
}

p {
  margin: 0 0 10px 0;
}

.grid-container {
  display: inline-block;
  width: 100vw;
}

.grid-group-vertical {
  display: inline-flex;
  flex-flow: column;
  float: left;
}

.grid-item {
  float: left;
  overflow: hidden;

  &.grid-item-1-1 {
    width: var(--grid-item-width);
    height: var(--grid-item-height);
  }

  &.grid-item-2-1 {
    width: calc(var(--grid-item-width) * 2);
    height: var(--grid-item-height);
  }

  &.grid-item-2-2 {
    width: calc(var(--grid-item-width) * 2);
    height: calc(var(--grid-item-height) * 2);
  }

  &.grid-item-2-3 {
    width: calc(var(--grid-item-width) * 2);
    height: calc(var(--grid-item-height) * 3);
  }

  &.grid-item-3-2 {
    width: calc(var(--grid-item-width) * 3);
    height: calc(var(--grid-item-height) * 2);
  }

  &.grid-item-3-3 {
    width: calc(var(--grid-item-width) * 3);
    height: calc(var(--grid-item-height) * 3);
  }

  &.grid-item-2-4 {
    width: calc(var(--grid-item-width) * 2);
    height: calc(var(--grid-item-height) * 4);
  }
}

.widget {
  position: relative;
  height: 100%;

  .widget-heading .widget-title {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Netflix Sans Bold', sans-serif;
    margin: 0;
    padding: 3px;
  }

  .widget-body {
    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  &.spotify-widget {
    background-color: #333;

    .widget-heading .widget-title {
      background-color: #1ed760;
      color: #000;
    }

    &#widget-spotify-player {
      background-size: cover;
      background-position: center;

      .widget-body {
        background-color: #000000cc;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;

        .banner-and-names {
          display: flex;

          img {
            height: max-content;
            width: 64px;
          }

          .names {
            margin-left: 5px;
            max-width: calc(100% - 69px);

            p {
              margin: 0 0 5px 0;
              font-weight: bold;
              font-family: 'Netflix Sans Bold', sans-serif;
              font-size: 15px;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }

        .progress-bar {
          .durations {
            display: flex;
            justify-content: space-between;
          }

          progress {
            display: block;
            width: 100%;
            height: 8px;
            border-radius: 5px;
            overflow: hidden;

            &::-webkit-progress-value {
              background-color: #1ed760;
            }
          }
        }
      }
    }
  }

  &.steam-widget {
    background-color: #333;

    .widget-heading .widget-title {
      background-color: #202325;
    }

    &#widget-steam-profile-status {
      p:not(.widget-title) {
        margin: 0 0 5px 0;
        font-size: 14px;
      }
    }

    .game {
      display: flex;
      margin: 3px;

      img {
        width: 32px;
        height: max-content;
      }

      p {
        font-size: 14px;
        line-height: 16px;
        margin: 0 0 0 5px;
        width: 100%;
        display: inline-flex;
        justify-content: space-between;

        span {
          white-space: nowrap;
          font-weight: bold;
          font-family: 'Netflix Sans Bold', sans-serif;
        }
      }
    }
  }

  &.uptimerobot-widget {
    background-color: #333;

    .widget-heading .widget-title {
      background-color: #3bd671;
    }

    .widget-body {
      @keyframes blink-error-status {
        0% {
          background-color: unset;
        }
        50% {
          background-color: red;
        }
        100% {
          background-color: unset;
        }
      }

      .website-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 2px 3px;
        cursor: pointer;

        .status {
          padding: 1px 4px;
          border-radius: 10px;
        }

        &.success .status {
          background-color: green;
        }

        &.warning .status {
          background-color: orange;
        }

        &.error {
          animation: blink-error-status 2s ease-in-out infinite;

          .status {
            background-color: red;
          }
        }

        .name {

        }
      }
    }
  }
}

nav#hidden-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  opacity: 0;
  background-color: #fac;

  &.show {
    display: block;
    opacity: 1;
  }
}
